*{
    margin: 0;
    padding: 0;
}

.fundo{
    background-image: linear-gradient(5deg, rgb(134, 59, 103), rgb(43, 13, 28));
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.calculadora{
    position: absolute ;
    background-color:rgb(233, 37, 135 );
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 10px;
}

.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: rgba(41, 1, 25, 0.8);
    border-radius: 15px;
    color: rgb(255, 255, 255);
}
.botaoresultado{
    width: 110px ;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: rgba(41, 1, 25, 0.8);
    border-radius: 15px;
    color: rgb(255, 255, 255);
}



.botao:hover ,.botaoresultado:hover {
    background-color: black;
}

#display{
    width: auto;
    background-color: white;
    border-radius: 15px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}